@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }

  body {
    background-color: rgb(9 9 11);
    color: rgb(244 244 245);
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

::selection {
  background-color: rgba(16, 185, 129, 0.2);
  color: rgb(52 211 153);
}

/* Custom Scrollbar for terminal density */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
